black
# celery #Only if you use ASYNC_TASKS
# channels[daphne] #Only if you use ASYNC_TASKS
# channels-redis #Only if you use ASYNC_TASKS
dj-rest-auth[with_social]
Django
django-cors-headers
django-debug-toolbar
django-environ
django-extensions
django-filter
django-global-places
django-notifications-pro
djangorestframework
djangorestframework-simplejwt
drf-writable-nested
drf-yasg
factory_boy
gunicorn
psycopg[binary]>=3.1.8
pytest-cov
pytest-django
requests-oauthlib #duda
sentry-sdk
split-settings
wheel
whitenoise
