amqp
asgiref
attrs
autobahn
Automat
billiard
black
celery
certifi
cffi
channels
channels-redis
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
constantly
coverage
cryptography
daphne
dj-rest-auth[with_social]
Django
django-allauth
django-cors-headers
django-debug-toolbar
django-environ
django-extensions
django-filter
django-global-places
django-model-utils
django-split-settings
django-notifications-pro
djangorestframework
djangorestframework-simplejwt
drf-writable-nested
drf-yasg
factory_boy
Faker
gunicorn
hyperlink
idna
incremental
inflection
iniconfig
jsonfield
kombu
msgpack
mypy-extensions
numpy
oauthlib
packaging
pandas
pathspec
platformdirs
pluggy
prompt_toolkit
psycopg[binary]>=3.1.8
pyasn1
pyasn1_modules
pycparser
PyJWT
pyOpenSSL
pytest
pytest-cov
pytest-django
python-dateutil
pytz
PyYAML
redis
requests
requests-oauthlib
sentry-sdk
service-identity
setuptools
six
split-settings
sqlparse
swapper
Twisted
txaio
typing_extensions
tzdata
uritemplate
urllib3
vine
wcwidth
wheel
whitenoise
zope.interface
channels[daphne]
channels-redis
redis
djangorestframework-simplejwt