<p>Hi,</p>
<p>You have requested a password {{REQUEST_TYPE}} for your account.</p>
{% if PASSWORD_EMAIL_SEND == 'link' %}

    <p>Please follow this <a href="{{ FRONT_URL }}/password-reset/{{ recovery_token }}">link</a> to {{REQUEST_TYPE}} your password.</p>

{% else %}

    <p>Put this code {{ recovery_token }} in the form to {{REQUEST_TYPE}} your password.</p>

{% endif %}

    <p>If you did not request a password {{REQUEST_TYPE}}, please ignore this email.</p>
<p>Thank you,</p>
<p>{{ APP_NAME }} Team</p>
